.navbar-brand
{
    font-size: xx-large;
    color: #198754;
    
}

.navbar-brand:hover
{
    color: #198754;
    text-decoration: underline;
}

.title-text
{
    max-width: 750px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
