{% extends "layout.html" %}

{% block title %}
    {{ book["title"] }} {% if book["subtitle"] != "Unknown" %}- {{ book["subtitle"] }} {% endif %}
{% endblock %}

{% block main %}
    <div class="container my-2">
        <div class="row">
            <div class="col-md-3">
                <img src="{{ book.image | safe }}" alt="Cover art">
            </div>
            <div class="col-md-9">
                <h2>
                    {{ book.title }} {% if book.subtitle != "Unknown" %}- {{ book.subtitle }} {% endif %}
                </h2>
                <div class="row">
                    <div class="col-md-3">
                        <p><strong>Authors:</strong> {{ book.author }}</p>
                    </div>
                    <div class="col">
                        <p><strong>Publisher:</strong> {{ book.publisher }} - {{ book.published_date }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p><strong>Page count:</strong> {{ book.page_count }}</p>
                    </div>
                    <div class="col">
                        <p><strong>Categories:</strong> {{ book.categories }}</p>
                    </div>
                </div>
                <hr class="mb-4">
                <div class="row">
                    <p>Description: {{ book.description }}</p>
                    <p>Isbn: {{ book.isbn }}</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}