{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    {% if updates %}
        {% for update in updates %}
            <div>
                <div>
                    <img src="{{ update['image'] | safe }}" alt="Cover art">
                </div>
                <div>
                    <p>Title: {{ update["title"] }} {% if update["subtitle"] != "Unknown" %}- {{ update["subtitle"] }} {% endif %}</p>
                    <p>Update type: {{update["type"]}}</p>
                    <p>Update date: {{update["date"]}}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Updates will appear here</p>

    {% endif %}
{% endblock %}