{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <div class="container">
        <div class="tabs">
            <div class="tab btn-group mb-3" role="group">
                <input type="radio" class="btn-check" name="btnradio" id="btn-read" autocomplete="off" checked onclick="openTab(event, 'Read')">
                <label class="btn btn-outline-success" for="btn-read">Read</label>

                <input type="radio" class="btn-check" name="btnradio" id="btn-tbr" autocomplete="off" onclick="openTab(event, 'TBR')">
                <label class="btn btn-outline-success" for="btn-tbr">TBR</label>
            </div>
        </div>

        <div id="Read" class="tabcontent container">
            {% for book in read %}
            <div class="row mb-3">
                <div class="col-md-2">
                    <div class="img_cont">
                        <img src="{{ book.image | safe }}" alt="Cover art">
                    </div>
                </div>
                <div class="col">
                    <h3 class="title-text">
                        <a class="title-link" href="/book?isbn={{ book.isbn }}">{{ book.title }} {% if book.subtitle != "Unknown" %}- {{ book.subtitle }} {% endif %}</a>
                    </h3>
                    <div class="row">
                        <div class="col-md-3">
                            <p><strong class="heading">Authors:</strong> {{ book.author }}</p>
                        </div>
                        <div class="col">
                            <p><strong class="heading">Publisher:</strong> {{ book.publisher }} - {{ book.published_date }}</p>
                        </div>
                    </div>
                    <p class="book-desc"><strong class="heading">Description:</strong> {{ book.description }}</p>
                    <div class="row">
                        <div class="col-md-3 review-add">
                            <a class="btn btn-outline-success" href="/review?isbn={{ book.isbn }}" role="button">Add/Edit Review</a>
                        </div>
                        <div class="col">
                            <form action="/deletebook" method="post" class="d-inline">
                                <input type="hidden" name="book" value="{{book}}">
                                <input type="hidden" name="shelf" value="read">
                                <button class="btn btn-outline-danger" type="submit">Remove from shelf</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div id="TBR" class="tabcontent  container">
            {% for book in tbr %}
            <div class="row mb-3">
                <div class="col-md-2">
                    <div class="img_cont">
                        <img src="{{ book.image | safe }}" alt="Cover art">
                    </div>
                </div>
                <div class="col">
                    <h3 class="title-text">
                        <a class="title-link" href="/book?isbn={{ book.isbn }}">{{ book.title }} {% if book.subtitle != "Unknown" %}- {{ book.subtitle }} {% endif %}</a>
                    </h3>
                    <div class="row">
                        <div class="col-md-3">
                            <p><strong class="heading">Authors:</strong> {{ book.author }}</p>
                        </div>
                        <div class="col">
                            <p><strong class="heading">Publisher:</strong> {{ book.publisher }} - {{ book.published_date }}</p>
                        </div>
                    </div>
                    <p class="book-desc"><strong class="heading">Description:</strong> {{ book.description }}</p>
                    <div>
                        <form action="/deletebook" method="post">
                            <input type="hidden" name="book" value="{{book}}">
                            <input type="hidden" name="shelf" value="tbr">
                            <button class="btn btn-outline-danger" type="submit">Remove from shelf</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script>
        function openTab(event, tabName) {
            var i, tabcontent, tablinks;

            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display="none";
            }

            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            document.getElementById(tabName).style.display = "block";
            event.currentTarget.className += " active";
        }

        document.getElementById("btn-read").click();
    </script>
{% endblock %}