{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <div>
        <div>
            <p>Hello there, {{ username }}</p>
        </div>
        <div class="tab btn-group" role="group">
            <input type="radio" class="btn-check" name="btnradio" id="btn-read" autocomplete="off" checked onclick="openTab(event, 'Read')">
            <label class="btn btn-outline-success" for="btn-read">Read</label>

            <input type="radio" class="btn-check" name="btnradio" id="btn-tbr" autocomplete="off" onclick="openTab(event, 'TBR')">
            <label class="btn btn-outline-success" for="btn-tbr">TBR</label>
        </div>

        <div id="Read" class="tabcontent">
            {% for book in read %}
            <div class="img_cont">
                <img src="{{ book['image'] | safe }}" alt="Cover art">
            </div>
            <div class="info_cont">
                <p>
                    <a href="/book?isbn={{book['isbn']}}">{{ book["title"] }} {% if book["subtitle"] != "Unknown" %}- {{ book["subtitle"] }} {% endif %}</a>
                </p>
                <p>Authors: {{ book["author"] }}</p>
                <p>Publisher: {{ book["publisher"] }}</p>
                <p>Published Date: {{ book["published_date"] }}</p>
                <p>Description: {{ book["description"] }}</p>
                <p>Isbn: {{ book["isbn"] }}</p>
                <p>Page count: {{ book["page_count"] }}</p>
                <p>Categories: {{ book["categories"] }}</p>
            </div>
            <div>
                <form action="/delete" method="post">
                    <input type="hidden" name="book" value="{{book}}">
                    <input type="hidden" name="shelf" value="read">
                    <button class="btn btn-outline-success" type="submit">Remove</button>
                </form>
            </div>
            {% endfor %}
        </div>

        <div id="TBR" class="tabcontent">
            {% for book in tbr %}
            <div class="img_cont">
                <img src="{{ book['image'] | safe }}" alt="Cover art">
            </div>
            <div class="info_cont">
                <p>
                    <a href="/book?isbn={{book['isbn']}}">{{ book["title"] }} {% if book["subtitle"] != "Unknown" %}- {{ book["subtitle"] }} {% endif %}</a>
                </p>
                <p>Authors: {{ book["author"] }}</p>
                <p>Publisher: {{ book["publisher"] }}</p>
                <p>Published Date: {{ book["published_date"] }}</p>
                <p>Description: {{ book["description"] }}</p>
                <p>Isbn: {{ book["isbn"] }}</p>
                <p>Page count: {{ book["page_count"] }}</p>
                <p>Categories: {{ book["categories"] }}</p>
            </div>
            <div>
                <form action="/delete" method="post">
                    <input type="hidden" name="book" value="{{book}}">
                    <input type="hidden" name="shelf" value="tbr">
                    <button class="btn btn-outline-success" type="submit">Remove</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
    <script>
        function openTab(event, tabName) {
            var i, tabcontent, tablinks;

            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display="none";
            }

            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            document.getElementById(tabName).style.display = "block";
            event.currentTarget.className += " active";
        }

        document.getElementById("btn-read").click();
    </script>
{% endblock %}